lxml
numpy
pandas
tqdm
torch
transformers
tensorboard
spacy_udpipe
#run the below command at the end to install torch-scatter, torch-sparse
# remember to replace ${CUDA} with for example, cu121
#pip install torch-scatter torch-sparse -f https://data.pyg.org/whl/torch-2.2.0+${CUDA}.html
# you can check for more details: https://github.com/rusty1s/pytorch_sparse?tab=readme-ov-file#binaries
